.table-despesas {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }
  
  .table-despesas th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table-despesas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .btn-salvar{
    width: 182px;
  }

  .btn-cadastro{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .btn-salvar.active {
    background-color: #0077ff;
    color: white;
  }

  .div-nova-despesa{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }