.table-despesas {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }
  
  .table-despesas th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table-despesas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .btn-salvar{
    width: 182px;
  }

  .btn-cadastro{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .btn-salvar.active {
    background-color: #0077ff;
    color: white;
  }

  .div-nova-despesa{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }

  .style-receita,
  .style-receita td {
    color: green;
  }
  
  .style-despesa,
  .style-despesa td {
    color: red!important;
  }

  button.btn-delete.btn.btn-danger {
    padding-right: 6px;
    padding-left: 6px;
}

  button.edit-button.btn.btn-primary {
    padding-left: 6px;
    padding-right: 6px;
  }

  .div-cards{
    display: flex;
    justify-content: space-evenly;
  }
  .foot{
    display:flex;
    justify-content: space-between;
  }

  .new-record{
    margin-right: 15px;
  }

  td {
    font-weight: 300;
    font-family: sans-serif;
}

.table-responsive {
  height: 590px;
}