footer.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    background-color: #fff;
    box-shadow: var(--shadow);
    margin-top: 0px;
    margin-bottom: 18px;
}