aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
a.logo{
    display: flex;
    justify-content: center;
}

aside.logo img {
    padding: 0 15px;
    width: 50%;
}

